.revenue_dashboard_page {
    width:100vw;
    height:100vh;
    display: flex;
    flex-direction: column;
    margin:0px;
    padding:0px;
}

.revenue_dashboard_page .body{
    width:100%;
    height:90%;
    /* background-color: red; */
    padding-left: 40px;
}

.revenue_dashboard_page .body .revenue_info {
    display: flex;
    width:100%;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    /* justify-content: space-around; */
}

.list{
    width:75%;
    border:1px solid rgb(145, 161, 214);
    border-radius: 5px;
    background-color: white;
    margin:auto;
    height:200px;
    margin-top:15px;
    margin-bottom: 15px;
    display:flex;
    overflow: hidden;
}

.list:hover{
    border: 1px solid #0d6efd;
    cursor: pointer;
}

.list img{
    height:100%;
    width:35%;
}

.list .details{
    /* background-color: red; */
    flex-grow: 1;
    padding:20px 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.list .details .date_and_subject{
    color:rgb(90, 100, 135);
    font-size: medium;
}

.list .details .date_and_subject .course_name{
    color:black;
}