
.options-container{
    width:100%;
    background-color: #DFEEF9;
    height:10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.options-container button{
    height:60%;
    width:fit-content;
    padding :0px 20px;
    font-size:large;
    /* background: none; */
    border:1px solid rgb(151, 171, 190);
    border-radius:5px;
    /* color:rgb(151, 171, 190); */
}

.options-container button:hover{

    cursor:pointer;
    background-color: #d1dae9;
    color:#0d6efd;
    border:1px solid #0d6efd;

}