.dashboard{
    width:100%;
    height:90%;
    font-family: 'Poppins';
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y:auto;
}

.dashboard::-webkit-scrollbar{
    display: none;
}

.dashboard .background{
    position:fixed;
    display: flex;   
    width:100%;
    height:100%;
    flex-direction: column-reverse;
    z-index: -1;
}

.dashboard .background .bluebackground{
    background-color: #DFEEF9;
    height:65%;
    width:100%;
}

.dashboard .personal_detail{
    padding:20px;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: space-between;
    
}

.dashboard .personal_detail .completed_courses{
    display: flex;
    padding:20px;
}

.dashboard .personal_detail .completed_courses .course_stat{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.dashboard .progress_and_courses{
    margin-top:10px;
    width:100%;
    height:45%;
    /* background-color:blue; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px;
}

.dashboard .progress_and_courses .progress_container{
    height:100%;
    width:35%;
    background-color: white; 
    border-radius: 7px;
    border: 1px solid rgb(145, 161, 214);
}

.dashboard .progress_and_courses .courses_container{
    height:100%;
    width:55%;
    background-color:white;
    border-radius: 7px;
    border: 1px solid rgb(145, 161, 214);
    display: flex;
    flex-direction: column;
}

.dashboard .progress_and_courses .progress_container .title_and_dropdown_container, .dashboard .upcoming_agenda_and_tests .upcoming_agenda_container .title_and_dropdown_container{
    display: flex;
    padding:20px;
    justify-content: space-between;
    align-items: center;
}

.dashboard .progress_and_courses .progress_container .title_and_dropdown_container select,.dashboard .upcoming_agenda_and_tests .upcoming_agenda_container .title_and_dropdown_container select{
    border: 1px solid rgb(145, 161, 214);
    border-radius: 5px;
    outline:none;
    height:30px;
    width:150px;
    padding: 0px 10px;
    color:rgb(56, 63, 86);
    /* transition: all 1s ease-in-out; */
}

.dashboard .progress_and_courses .progress_container .title_and_dropdown_container select:hover,.dashboard .upcoming_agenda_and_tests .upcoming_agenda_container .title_and_dropdown_container select:hover{
    cursor:pointer;
    border-color: #0d6efd;
}

.dashboard .progress_and_courses .courses_container .heading_and_view_all_container, .dashboard  .upcoming_agenda_and_tests .tests_container .heading_and_view_all_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    /* background-color: blue; */
}

.dashboard .progress_and_courses .courses_container .heading_and_view_all_container h3 span, .dashboard  .upcoming_agenda_and_tests .tests_container .heading_and_view_all_container h3 span{
    color:rgb(145, 161, 214);
    font-size: large;
}

.dashboard .progress_and_courses .courses_container .content_container{
    padding:10px;
    width:100%;
    flex-grow: 1;
    display:flex;
    align-items:center;
    justify-content: space-between;
    /* background-color: green; */
}

.dashboard .progress_and_courses .courses_container .content_container button{
    background: none;
    border:none;
    cursor:pointer;
}

.dashboard .progress_and_courses .courses_container .content_container .content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .upcoming_agenda_and_tests{
    margin-top:30px;
    width:100%;
    height:60%;
    /* background-color:blue; */
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0px 10px;
    margin-bottom: 50px;
}

.dashboard .upcoming_agenda_and_tests .upcoming_agenda_container{
    height:100%;
    width:55%;
    background-color: white; 
    border-radius: 7px;
    border: 1px solid rgb(145, 161, 214);
    display:flex;
    flex-direction: column;
}

.dashboard .upcoming_agenda_and_tests .tests_container{
    height:100%;
    width:35%;
    background-color: white; 
    border-radius: 7px;
    border: 1px solid rgb(145, 161, 214);
    display:flex;
    flex-direction: column;
}

.dashboard .upcoming_agenda_and_tests .tests_container .tests{
    flex-grow: 1;
    padding:10px;
}
