.testpage{
    width:100vw;
    height:100vh;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.testpage .details{
    width:95%;
    height:15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: red; */
}

.testpage .question_and_status_board{
    width:100%;
    height:70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.testpage .question_and_status_board .questions{
    width:70%;
    height:100%;
    /* background-color: blue; */
    background-color: rgb(234, 237, 242);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    padding:30px;
    gap:10px;
}

.testpage .navigation_and_finish{
    width:100%;
    height:15%;
    display: flex;
    align-items: center;
    justify-content:space-around;
    /* background-color: red; */
}

.testpage .details .testdetails{
    width:70%;
    height:100%;
    padding:20px;
    /* background-color: blue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testpage .details .testdetails .fullprogressbar{
    height:5px;
    width:40%;
    background-color: rgb(145, 161, 214);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.testpage .details .testdetails .completedprogressbar{
    height:100%;
    width:60%;
    background-color: #0d6efd;
    border-radius: 5px;
    position:absolute;
    z-index: 2;
    top:0;
    left:0;
}

.testpage .details .testdetails button{
    padding:5px 10px;
    border: 1px solid rgb(145, 161, 214);
    color:rgb(145, 161, 214);
    height:30px;
    border-radius: 15px;
}

.testpage .details .testdetails button:hover{
    cursor: pointer;
    border: 1px solid #0d6efd;
    background-color:rgb(239, 242, 246);
    color:#0d6efd;
}

.testpage .details .timer{
    background-color: #0d6efd;
    height:90px;
    width:90px;
    border-radius: 45px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.testpage .details .timer .foreground{
    height:80px;
    width:80px;
    border-radius: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color:#0d6efd;
}

.testpage .navigation_and_finish button{
    padding:5px 20px;
    border: 0px solid rgb(145, 161, 214);
    color:rgb(145, 161, 214);
    height:30px;
    width:auto;
    border-radius: 15px;
    display: flex;
    align-items: center;
    gap:5px 10px;
}

.testpage .navigation_and_finish button:hover{
    cursor: pointer;
    border: 1px solid #0d6efd;
    background-color:rgb(239, 242, 246);
    color:#0d6efd;
}

.testpage .navigation_and_finish .finish:hover{
    cursor: pointer;
    background-color: #bb2d3b;
    border: 1px solid #b02a37;
}



/* .testpage .navigation_and_finish button div{
    background-color: blue;
} */

.testpage .question_and_status_board .questions h3{
    color:rgb(145, 161, 214);
}

.testpage  .question_and_status_board .questions p{
    width:100%;
}

.testpage  .question_and_status_board .questions input[type='number']{
    margin-top: 20px;
    height:50px;
    width:250px;
    border:none;
    border-radius: 5px;
    outline:none;
    padding:10px;
}

.testpage .question_and_status_board .questions input[type='number']::-webkit-outer-spin-button,
.testpage .questions input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.testpage .question_and_status_board .questions input[type='number']:focus , .testpage .questions input[type='number']:hover{
    border: 1px solid #0d6efd;
}

.testpage .question_and_status_board .questions .options{
    height:60%;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.testpage .question_and_status_board .questions .options div{
    width:100%;
    height:50px;
    background-color: white;
    /* border-left: 5px solid #0d6efd; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.testpage .question_and_status_board .questions .options div:hover{
    border-left:5px solid #0d6efd;
    cursor:pointer;
}

.testpage .test_ended{
    width:40%;
    height:100%;
    /* background-color: red; */
    display:flex;
    justify-content: center;
    align-items: center;
}

.testpage .test_ended .dialog{
    width:100%;
    height:40%;
    background-color: rgb(235, 236, 243);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(186, 190, 200);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.testpage .test_ended .dialog h2,.testpage .test_ended .dialog h3{
    margin:10px 0px;
    width:60%;
}

.testpage .test_ended .dialog .close{
    
    background-color: #dc3545;
    border:none;
    color:white;
    height:50px;
    width:100px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5px 10px;
    font-size: large;
}

.testpage .test_ended .dialog .close:hover{
    cursor: pointer;
    background-color: #bb2d3b;
    border: 1px solid #b02a37;
}

.testpage .question_and_status_board .status_board{
    background-color:rgb(234, 237, 242);
    height:100%;
    width:25%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding:20px 0px;
    gap:10px;
}

.testpage .question_and_status_board .status_board .information{
    width:90%;
    height:20%;
    max-height:20%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: left;
    gap:10px 28px;
}

.testpage .question_and_status_board .status_board .status_keys{
    width:90%;
    height:90%;
    display: flex;
    justify-content: left;
    align-items: start;
    flex-wrap: wrap;
    overflow-y: auto;
    gap:20px;
}

.testpage .question_and_status_board .status_board .information button{
    height:40px;
    width:100px;
    flex-grow: 1;
    border: none;
    border-radius: 5px;
}

.testpage .question_and_status_board .status_board .status_keys div{
    height:50px;
    width:50px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}





